# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
src/server/.env

# Project exclude paths
/src/server/routes/appRouter.js
/src/server/schema/contactSchema.js
/src/server/schema/userSchema.js
/src/server/service/contactService.js
/src/server/utils/handleError.js
/src/server/utils/handleStatus.js
/src/server/server.js